@model IEnumerable<Domain.DTO.ChallengesRewardViewModel>
@{
    Layout = "_Layout";
    var title = "Health Meets Rewards";
    ViewData["Title"] = title;
}

<div class="pt-4">
    <h1>
        @ViewData["Title"]
    </h1>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<link rel="stylesheet" href="~/css/ChallengesRewardView.css" />

<div id='myModal' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@{
    // Retrieve the counts from ViewData
    int registeredChallengesCount = ViewData["RegisteredChallengesCount"] != null ? (int)ViewData["RegisteredChallengesCount"] : 0;
    int totalChallengeCount = ViewData["TotalChallengeCount"] != null ? (int)ViewData["TotalChallengeCount"] : 1; 
    int completedChallengesCount = ViewData["CompletedChallengesCount"] != null ? (int)ViewData["CompletedChallengesCount"] : 1;
    int rewardChallengesCount = ViewData["RewardChallengesCount"] != null ? (int)ViewData["RewardChallengesCount"] : 1; // Avoid division by zero

    // Calculate the progress percentage
    double RegisterProgress = ((double)registeredChallengesCount / totalChallengeCount) * 100;
    double CompleteProgress = ((double)completedChallengesCount / totalChallengeCount) * 100;
    double RewardProgress = ((double)rewardChallengesCount / totalChallengeCount) * 100;
}
<div class="container box">
    <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="block l-bg-blue-dark">
            <div class="block-statistic-3 p-4">
                <div class="block-icon block-icon-large"><i class="fas fa-users"></i></div>
                <div class="mb-4">
                    <h5 class="block-title mb-0">Registrated</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">@ViewData["RegisteredChallengesCount"]</h2>
                    </div>
                </div>
                <div class="progress mt-1" data-height="8" style="height: 8px;">
                    <div class="progress-bar l-bg-green" role="progressbar"
                         data-width="@RegisterProgress%"
                         aria-valuenow="@RegisterProgress"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: @RegisterProgress%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="block l-bg-green-dark">
            <div class="block-statistic-3 p-4">
                <div class="block-icon block-icon-large"><i class="fas fa-ticket-alt"></i></div>
                <div class="mb-4">
                    <h5 class="block-title mb-0">Completed</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">@ViewData["CompletedChallengesCount"]</h2>
                    </div>
                    
                </div>
                <div class="progress mt-1" data-height="8" style="height: 8px;">
                    <div class="progress-bar l-bg-orange" role="progressbar"
                         data-width="@CompleteProgress%"
                         aria-valuenow="@CompleteProgress"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: @CompleteProgress%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="block l-bg-orange-dark">
            <div class="block-statistic-3 p-4">
                <div class="block-icon block-icon-large"><i class="fas fa-dollar-sign"></i></div>
                <div class="mb-4">
                    <h5 class="block-title mb-0">Rewards Received</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">@ViewData["RewardChallengesCount"]</h2>
                    </div>
                    
                </div>
                <div class="progress mt-1" data-height="8" style="height: 8px;">
                    <div class="progress mt-1" data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar"
                             data-width="@RewardProgress%"
                             aria-valuenow="@RewardProgress"
                             aria-valuemin="0" aria-valuemax="100"
                             style="width: @RewardProgress%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container filter-bar">
    <!-- Search Form -->
    <form asp-action="ChallengeDashboard" method="get" class="search_con">
        <div class="input_con">
            <input type="text" name="term" placeholder="Search......." spellcheck="false" id="queryFind" />
            <span id="clearBtn"><i class="bi bi-x-lg"></i></span>
            <button type="submit" class="btn btn-success"><i class="bi bi-search"></i></button>
        </div>
    </form>

    <!-- Sort Form -->
    <form class="form-sort" id="sortForm" asp-action="ChallengeDashboard" method="get">
        <label for="orderBy">Sort By</label>
        <select id="SubjectList" name="orderBy">
            <option value="null">---Select the Option---</option>
            <option value="start_date_desc">Descending : Start Time</option>
            <option value="end_date_desc">Descending : End Time</option>
            <option value="end_date">Ascending : End Time</option>
            <option value="start_date">Ascending : Start Time</option>
        </select>
    </form>

    <!-- Filter Form -->
    <form class="form-filter" asp-action="ChallengeDashboard" method="get">
        <div class="date-filter">
            <div>
                <label for="startDate">Start Time</label>
                <input type="datetime-local" class="form-control" id="startDate" name="startDate" value="@ViewBag.startDate">
            </div>
            <div>
                <label for="endDate">End Time</label>
                <input type="datetime-local" class="form-control" id="endDate" name="endDate" value="@ViewBag.endDate">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
       
    </form>
</div>



<h3 style="padding-top:15px;">New Challenges</h3>


<div class="container">
    <div class="row pt-5 m-auto">
        @foreach (var challenge in Model)
        {
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                    <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                    <div class="card-custom-avatar">
                        <img class="img-fluid" src="@Url.Content(challenge.ChallengeImgLocation)" alt="Avatar" style="max-width: 100px; max-height: 100px;" />
                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title">@challenge.ChallengeName</h4>
                        <p class="card-text">@challenge.ChallengeDescription</p>
                        <p class="card-text" style="font-weight: bold">Challenge Goal:</p>
                        <p class="card-text">Calorie Count Goal : @challenge.CalorieCountGoal</p>
                        <p class="card-text">Vitamin Goals : @challenge.VitaminGoals</p>
                        <p class="card-text">Minerals Goals : @challenge.MineralsGoals</p>
                        <p class="card-text">Protein Goals : @challenge.ProteinGoals</p>
                        <p class="card-text">Fat Goals : @challenge.FatGoals</p>
                        <p class="card-text">Carbohydrates Goals : @challenge.CarbohydratesGoals</p>
                        <p class="card-text">Water Goals : @challenge.WaterGoals</p>


                        <p class="card-text" style="font-weight: bold">Start Time:</p>
                        <p class="card-text">@challenge.StartDatetime</p>
                        <p class="card-text" style="font-weight: bold">End Time:</p>
                        <p class="card-text">@challenge.EndDatetime</p>
                    </div>
                    <div class="card-footer" style="background: inherit; border-color: inherit;">
                        <a href="javascript:void(0);" Challenge-Name="@challenge.ChallengeName" class="anchorDetail btn btn-outline-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
@section scripts
{

    <script>
        var TeamDetailPostBackURL = '/UserChallenges/ChallengeInfoDetails';
        $(
            function () {
                $(".anchorDetail").click(function () {
                    debugger;
                    var $buttonClicked = $(this);
                    var challengeName = $buttonClicked.attr('Challenge-Name');
                    var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURL,
                        contentType: "application/json; charset=utf-8",
                        data: { "challengeName": challengeName },
                        datatype: "html",
                        success: function (data) {
                            debugger;
                            console.log(data);
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
                //$("#closebtn").on('click',function(){
                //    $('#myModal').modal('hide');

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });

    </script>


}

<script type="text/javascript">

    $(document).ready(function () {
        $("#SubjectList").change(function () {
            $("#sortForm").submit();
        });
    });

    const clearBtn = document.getElementById("clearBtn");
    const inputArea = document.getElementById("queryFind");

    clearBtn.addEventListener("click", clear)

    function clear() {
        inputArea.value = "";
    }
</script>
