@model IEnumerable<Services.ViewModels.MealViewModel>

@{
    Layout = "_Layout";
    var title = "Meal Detail";
    ViewData["Title"] = title;
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

@if (TempData["UnSuccessful"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["UnSuccessful"]
    </div>
}

<h1>@ViewData["Title"]</h1>

<h3><a asp-action="CreateMeal" class="btn btn-sm btn-secondary">Create New Meal</a></h3>

<form asp-action="ViewMeals">
    <div class="row">
        <div class="col-md-8">
            <input type="text" name="term" class="form-control" placeholder="Enter meal Name" />
            <div class="col-md-4">
                <button type="submit" class="btn btn-info">Search</button>
            </div>
        </div>
    </div>
</form>
<form id="sortForm" asp-action="ViewMeals" method="get">
    <div class="row">
        <div class="col-md-8">
            <label for="orderBy">SortBy</label>
            <select id="SubjectList" name="orderBy">
                <option value="meal_name_desc">Descending : Meal Name</option>
                <option value="user_name_desc">Descending : User Name</option>
                <option value="calorie_count_desc">Descending : Calorie Count</option>
                <option value="user_name">Ascending : User Name</option>
                <option value="calorie_count">Ascending : Calorie Count</option>
                <option value="meal_name">Ascending : Meal Name</option>
            </select>
     
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Meal Name</th>
            <th>Meal Description</th>
            <th>Meal Type</th>
            <th>Calorie Count</th>
            <th>Vitamins</th>
            <th>Minerals</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Carbohydrates</th>
            <th>Water</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var meal in Model)
        {
            <tr>
                <td>@meal.UserName</td>
                <td>@meal.MealName</td>
                <td>@meal.MealDescription</td>
                <td>@meal.TypeOfMeal</td>
                <td>@meal.CalorieCount</td>
                <td>@meal.MealVitamin</td>
                <td>@meal.MealMinerals</td>
                <td>@meal.MealProtein</td>
                <td>@meal.MealFat</td>
                <td>@meal.MealCarbohydrates</td>
                <td>@meal.MealWater</td>
                <td>
                    <a asp-action="UpdateMeal" asp-route-mealName="@meal.MealName">
                        <button>Update</button>
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteMeal" method="post" asp-route-mealName="@meal.MealName">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $("#SubjectList").change(function() {
            $("#sortForm").submit(); // Submit the form when the selection changes
        });
    });
</script>
